@{
    ViewBag.Title = "About";
}
<hr/>
<h2>About Us</h2>
<hr/>
<div style="font-family: Lato, sans-serif; margin-top: 35px;">
    <div class="body-content p-t-b-45-mobile">
        <div class="container">
            <div class="row story__section">
                <div class="col s12 l6 m-y-auto story__section-left">
                    <img class="block m-x-auto story__section__image" src="@Url.Content("~/Content/Images/dna-graphic.svg")" alt="Three DNA strands with teal, none, and orange shadows respectively">
                </div>
                <div class="col s12 l6 story__section-right">
                    <p class="">
                        Our face has changed a bit over the years, but our mission hasn’t. <b>We are dedicated to providing job seekers with the clearest path to their next amazing opportunity.</b><br><br>
                        That mission is written in our DNA. It’s who we are. It’s what drives us. Because we know it’s more than a career move, it’s helping people find their purpose.
                    </p>
                </div>
            </div>

            <div class="row p-t-30 story__section">
                <div class="col s12 l6 flex-order-2">
                    <p class="">
                        We got our start more than two decades ago as JobDig, an employment focused media company. When job search moved online, so did we.
                        <br><br>
                        We saw huge potential in focusing on company websites as the best and cleanest source of jobs, so we formed LinkUp, a job site with millions of verified listings sourced directly from company career sites.
                        <br><br>
                        As we developed our proprietary technology that scours the web for the freshest listings, every single day–savvy job seekers and employers noticed.
                    </p>
                </div>
                <div class="col s12 l6 m-y-auto flex-order-1">
                    <img class="block m-x-auto story__section__image" src="@Url.Content("~/Content/Images/laptop-graphic.svg")" alt="Laptop, pen, paper, and coffee mug drawn with a single thin stroke">
                </div>
            </div>

            <div class="row p-t-30 story__section">
                <div class="col s12 l6 m-y-auto story__section-left">
                    <img class="block m-x-auto story__section__image" src="@Url.Content("~/Content/Images/job-listings-graphic.svg")" alt="Bulleted list with a shield containing a check mark with a green shadow">
                </div>
                <div class="col s12 l6 story__section-right">
                    <p class="">
                        Now, as Get A Job, we’re evolving our mission even further. This is only the beginning. In this next phase, we’re building a platform tailored for how people search, now and in the future.
                        <br><br>
                        We’re innovating and updating; refining and streamlining, all to connect job seekers with the highest quality, most up-to-date job listings on the web. <b>All to help people Get A Job.</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>